@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
/* Open Sans font added */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
body {
  box-sizing: border-box;
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .cart-container {
    max-width: 1320px;
    margin: 0 auto;
    text-align: center;
  }
  .cart-bg {
    background-color: #81c409;
  }
  .cart-tcolor {
    color: #81c409;
  }
  .bg-image {
    background-image: url('/img/cart-page-header-img.jpg');
    opacity: 1;
  }
  .overlay {
    background: rgba(0, 0, 0, 0.3);
  }
}
